<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title align="center">Editar Mentor</ion-title>
    <ion-button  fill="clear" (click)="dismiss()" slot="end">
      <ion-icon   name="close-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content *ngIf="mentor">
  <ion-item>
    <ion-label >Nombre: </ion-label>
    <ion-input [(ngModel)]="mentor.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Apellido: </ion-label>
    <ion-input [(ngModel)]="mentor.last_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Dni: </ion-label>
    <ion-input [(ngModel)]="mentor.dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Email: </ion-label>
    <ion-input [(ngModel)]="mentor.email"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="presentAlertConfirm()">Editar</ion-button>
</ion-content>
