<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mentors"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white" >
  <h3>Agregar Mentor</h3>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input name="name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Apellidos</ion-label>
    <ion-input name="last_name" [(ngModel)]="last_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">DNI</ion-label>
    <ion-input name="dni" [(ngModel)]="dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input name="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tier</ion-label>
    <ion-input name="tier" [(ngModel)]="tier"></ion-input>
  </ion-item>

  <!--<ion-item>
    <ion-label position="stacked">Perfil</ion-label>
    <ion-input name="profile" [(ngModel)]="profile"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Experiencia</ion-label>
    <ion-input name="experience" [(ngModel)]="experience"></ion-input>
  </ion-item>
-->
  <ion-button (click)="addMentor()" expand="block">Añadir</ion-button>
</ion-content>
